{# templates/inventario_tech/producto_list.html #}
{% extends 'inventario_tech/base.html' %}
{% block title %}Productos{% endblock %}
{% block content %}
<h1 class="mb-4">Productos</h1>
<a href="{% url 'inventario_tech:producto-create' %}" class="btn btn-primary mb-3">+ Nuevo producto</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Total Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.nombre }}</td>
            <td>$ {{ producto.precio }}</td>
            <td>{{ producto.stock_total|default:0 }}</td>
            <td>
                <a href="{% url 'inventario_tech:producto-update' producto.pk %}"
                    class="btn btn-sm btn-warning">Editar</a>
                <a href="{% url 'inventario_tech:producto-delete' producto.pk %}"
                    class="btn btn-sm btn-danger">Eliminar</a>
                <a href="{% url 'inventario_tech:producto-stock' producto.pk %}" class="btn btn-sm btn-info">Stock
                    detallado</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}